
.audio {
  position: relative;
}

.audio > canvas {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
}

.audio-play {
  display: block;
  border: 1px solid #ddd;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  border-radius: 50%;
  box-shadow: 0 0 0 2px #f7f7f7;
  text-decoration: none;
  color: #494949;
}

.audio-play:hover {
  color: #1b1b1b;
}